@import '../variables';

.filter {
  height: 32px;
  padding: 16px 16px 0;

  &-item {
    border-radius: 50%;
    box-shadow: inset 0 0 5px 2px #ccc;
    color: #999;
    line-height: 32px;
    margin-right: 16px;
    width: 32px;

    @each $camp, $value in $camp-color {
      &.#{$camp} {
        box-shadow: inset 0 0 5px 2px $value;
        color: $value;
        font-weight: 500;
      }
    }
  }

  :global {
    input[type=checkbox] {
      display: none;
    }
  }
}

.sgicon-svg {
  height: 16px;
  vertical-align: -0.15em;
  width: 16px;
}

.hero {
  border-radius: 4px;
  box-shadow: 0 0 3px 1px #ccc;
  margin: 16px;

  &-grid {
    border-bottom: 1px solid #f2f2f2;
    display: grid;
    grid-template-columns: 2fr repeat(6, 1fr);
    padding: 8px 0 8px 16px;

    &:first-child { border-radius: 4px 4px 0 0; }
    &:last-child { border-radius: 0 0 4px 4px; }

    &.sticky {
      background-color: #fff;
      font-weight: 500;
      position: sticky;
      top: 0;
    }
  }

  &-camp {
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin-right: 2px;
    width: 16px;

    @each $camp, $value in $camp-color {
      &.#{$camp} {
        background-color: $value;
      }
    }
  }

  &-empty {
    color: #666;
    padding: 8px 0;
  }
}